/* ---------------GENERAL SETTINGS-------------------- */
:root {
  /* -----text color---- */
  --first-text-color: #434455;
  --second-text-color: #FFFFFF;
  --third-text-color: #2E2F42;
  --fourth-text-color: #4D5AE5;
  --fifth-text-color: #F4F4FD;
  --sixth-text-color: #E7E9FC;
  /* -----background color----------*/
  --first-background-color: #2E2F42;
  --second-background-color:#F4F4FD;
  --third-background-color: #4D5AE5;
  --fourth-background-color: #FFFFFF;
  /* -------accent-color ----------*/
  --accent-color: #404BBF;
  /* ---------border color--------- */
  --border-color-img-portfolio: #E7E9FC;
  /* --------- found -------------- */
  --secondary-found: 'Raleway', sans-serif;
  /* -----settings padding, margin and gap*/
  --basic-settings-padding-section: 120px;
  --basic-settings-gap: 24px;
  --basic-settings-margin: 72px;
  --secondary-settings-margin: 8px;
  /* -------border radius-------------- */
  --basic-border-radius: 4px;
  /* ---------- transition ------------- */
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier (0.4, 0, 0.2, 1)
}

body {
  font-family: "Roboto", sans-serif;
  color: #2E2F42;
}
/* margin and padding OFF */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}

/* ------------------UNIVERSAL CLASSES--------------------- */
/* Centering and limiting content by width. Section padding */
.container{
  max-width: 1158px;
  margin: auto;
  padding: 0px 15px;
  width: 100%
}
.section{
  padding-top: var(--basic-settings-padding-section);
  padding-bottom: var(--basic-settings-padding-section);
}
/* delete marker */
.list {
  list-style: none;
}
/* delete underline */
.link {
  text-decoration: none;
}
/* main title attributes */
.title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
/* main subtitle attributes */
.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
/* main description attributes */
.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--first-text-color);
}
/* fading title effect */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* universal button */
.btn {
  cursor: pointer;
  font-family: inherit;
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  border-radius: var(--basic-border-radius);
  transition: background-color var(--transition-duration), color var(--transition-duration), border var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}
/* hover and focus effect button*/
.btn:hover,
.btn:focus {
  background-color: var(--accent-color);
  color: var(--second-text-color);
  border-color: var(--accent-color);
}
/* foto full */
.portfolio-card-img,
.team-card-img {
  display: block;
  max-width: 100%;
  height: auto;
}
/********************** MAIN PAGE ************************/

/* ======================== HEADER ======================== */
.header-section {
  background: var(--fourth-background-color);
  border-bottom: 1px solid var(--sixth-text-color);
} 
.header-all-nav{
  display: flex;
}
/* ----------------------- logo ---------------------------*/
.header-logo {
  margin-right: 76px;
  padding: 24px 0px;
}
.header-logo,
.header-logo span {
  text-decoration: none;
  font-family: var(--secondary-found);
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: inherit;
}
.header-logo span {
  color: var(--fourth-text-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* ------------------- Menu navigation ---------------------- */
.header-menu {
  display: flex;
}
.header-list {
  display: flex;
  column-gap: 40px;
}
.header-menu-link {
  display: flex;
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--third-text-color);
  padding: 24px 0px;
  transition: color var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}
.current {
color: #404BBF;
}
.current::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  background: #404BBF;
  border-radius: 2px;
  bottom: 0;
  left: 0;
  color: #404BBF;
  bottom: -1px;
}
/* ---------------------- Contacts------------------------ */
.header-address {
  display: flex;
  margin-left: auto;
  align-items: center;
  justify-content: center;
}
.header-address-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 40px;
  padding-left: 40px;
  row-gap: 4px;
}
.header-address-link {
  display: flex;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--third-text-color);
  transition: color var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}
.header-address-item {
  display: flex;
}
/* hover and focus effect link*/
.header-address-link:is(:hover, :focus),
.header-menu-link:is(:hover, :focus) {
  color: var(--accent-color);
}
/* ============================= HERO SECTION =================================== */
.hero-section {
  position: relative;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/people-office.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--first-background-color);
}
.hero-container {
  padding: 188px 0;
}
.hero-title-container{
  max-width: 496px;
  margin: auto;
}
.hero-title {
  max-width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}
.hero-button {
  display: block;
  width: 178px;
  padding: 16px 32px;
  margin: auto;
  margin-top: 48px;
  background-color: var(--third-background-color);
  color: var(--second-text-color);
  border-radius: var(--basic-border-radius); 
  border: 1px solid var(--third-background-color);
}
/* -------------------- modal window and backdrop ----------------- */
.hero-modal-window-backdrop {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.7);
  transition: opacity var(--transition-duration), visibility var(--transition-duration);
}
.hero-modal-window {
  position: absolute;
  z-index: 11;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  height: 584px;
  background: #FCFCFC;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 72px 24px 24px 24px;
  margin: 0;
}
.hero-modal-title{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--third-text-color);
}
.hero-modal-form {
  display: flex;
  flex-direction: column;
  border: none;
  margin: 0;
  padding: 0;
}
.hero-modal-form-label{
  display: flex;
  flex-direction: column;
}
.hero-modal-form-label-name {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #8E8F99;
}
.hero-modal-form-label-name {
  margin-top: var(--secondary-settings-margin);
  margin-bottom: 4px;
}
.hero-modal-form-label-input {
  border: none;
  border-radius: 4px;
  padding: 8px 16px 8px 38px;
  width: 100%;
}
.hero-modal-form-input-icon {
  position: relative;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}
.hero-modal-form-icon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 16px;
  transform: translate(0, -50%);
  transition: fill var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}
.hero-modal-form-input-icon:is(:hover) {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}
.hero-modal-form-label-comment {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 8px 16px;
  height: 120px;
  resize: none;
  transition: border var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}
.hero-modal-form-label-comment:hover {
  border-color: var(--accent-color);
}
.hero-modal-form-label-comment::placeholder {
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
} 
/* ----------------------- checkbox and checkbox fake ------------- */
.hero-modal-form-checkbox-accept {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #757575;
  margin-top: 16px;
}
.hero-modal-form-checkbox-fake{
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1.25px solid #2E2F42;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
}
.hero-modal-form-checkbox-icon{
  display: inline-block;
  position: absolute;
  opacity: 0;
  cursor: pointer;
} 
.hero-modal-form-checkbox:checked ~ .hero-modal-form-checkbox-icon {
  opacity: 1;
}
.hero-modal-form-checkbox:hover~.hero-modal-form-checkbox-icon {
  border: -2px solid var(--accent-color);
}
.hero-modal-form-checkbox-accept-link{
  font-weight: 400;
  font-size: 12px;
  align-items: center;
  line-height: 1.33;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
  color: var(--fourth-text-color);
  transition: color var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}
.hero-modal-form-checkbox-accept-link:hover {
color: var(--accent-color);
}
/* ---------------------- modal window button --------------------------- */
.hero-modal-btn-submit {
  display: block;
  width: 178px;
  padding: 16px 32px;
  margin: auto;
  margin-top: 24px;
  background-color: var(--third-background-color);
  color: var(--second-text-color);
  border-radius: var(--basic-border-radius);
  border: 1px solid var(--third-background-color);
}
.hero-modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background-color: #E7E9FC;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  padding: 0;
  cursor: pointer;
  transition: background-color var(--transition-duration), border var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}
.hero-modal-btn-icon {
  fill: #000000;
  transition: fill var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}
.hero-modal-btn:is(:hover, :focus) .hero-modal-btn-icon {
  fill: #FFFFFF;
}
.hero-modal-btn:is(:hover, :focus) {
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
}
/* ------------------------------ backdrop off ------------------------------- */
.hero-modal-window-backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

/* ========================= BASIC PRINCIPLES SECTION ===================== */
.principles-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--basic-settings-gap);
  justify-content: center;
}
.principles-item {
  width: 264px;
}
.principles-title {
  margin-top: var(--secondary-settings-margin);
}
.principles-description {
  margin-top: var(--secondary-settings-margin);
}
.principles-item-icon {
  display: flex;
  padding: 24px 100px;
  height: 112px;
  background-color: var(--second-background-color);
  border-radius: var(--basic-border-radius);
}
/* ====================== WHAT ARE WE DOING SECTION ==================== */
.work-section{
padding-bottom: var(--basic-settings-padding-section);
}
.work-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--basic-settings-gap);
  margin-top: var(--basic-settings-margin);
  justify-content: center;
}
.work-item {
  width: calc((100 - 48px)) / 3;
}
/* =========================== OUR TEAM SECTION ======================= */
.team-section {
  background: var(--second-background-color);
}
  .team-card-list{
  display: flex;
  flex-wrap: wrap;
  gap: var(--basic-settings-gap);
  margin-top: var(--basic-settings-margin);
  justify-content: center;
}
.team-card-item {
  background: var(--fourth-background-color);
  max-width: calc((100 - 72px)) / 4;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px var(--basic-border-radius) var(--basic-border-radius);
}
.team-card-description {
  margin-top: var(--secondary-settings-margin);
}
.team-card-content {
  padding: 32px 16px;
  text-align: center;
  background-color: var(--second-text-color);
  border-radius: 0px 0px var(--basic-border-radius) var(--basic-border-radius);
}
.team-card-social-list {
  display: flex;
  margin-top: var(--secondary-settings-margin);
  gap: var(--basic-settings-gap);
}
  .team-card-social-item {
  height: 40px;
  width: 40px;
  }
.team-card-social-link {
  background-color: var(--third-background-color);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}
.team-card-icon {
  width: 16px;
  height: 16px;
}
.team-card-social-link:is(:hover, :focus) {
  background-color: var(--accent-color);
}
/* ============================= CUSTOMERS ========================== */
.customer-section {
  padding-top: 130px;
  padding-bottom: var(--basic-settings-padding-section);
}
.customer-title {
  text-align: center;
}
.customer-list {
  display: flex;
  margin-top: var(--basic-settings-margin);
  gap: var(--basic-settings-gap);
  width: calc((100 - 5 * var(--basic-settings-gap))) / 6;
  flex-wrap: wrap;
  justify-content: center;
}
.customer-item {
  display: flex;
}
.customer-link {
  width: 168px;
  height: 88px;
  display: flex;
  outline: none;
  padding: 16px 32px;
  border: 1px solid #8E8F99;
  border-radius: var(--basic-border-radius);
  fill: #8E8F99;
  transition: fill var(--transition-duration), border var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}
.customer-link:is(:hover, :focus) {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}
/* *********************** PORTFOLIO PAGE ************************ */
/* ================== EXAMPLES OF PROJECTS SECTION =============== */
/* --------------------- Portfolio filter buttons ---------------- */
.portfolio-section{
  padding-bottom: var(--basic-settings-padding-section);
  padding-top: 96px;  
}
.portfolio-button {
  display: flex;
  background-color: var(--second-background-color);
  border: 1px solid var(--sixth-text-color);
  border-radius: var(--basic-border-radius);
  color: var(--fourth-text-color);
  padding: 12px  24px;
  transition: background-color var(--transition-duration), box-shadow var(--transition-duration), border var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}
.portfolio-button-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--basic-settings-gap);
}
.portfolio-button:is(:hover, :focus) {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
  0px 2px 1px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* --------------------  Row examples of projects ------------------------ */
.portfolio-card-subtitle{
  color: var(--third-text-color);
}
.portfolio-card-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: var(--basic-settings-gap);
  margin-top: var(--basic-settings-margin);
  justify-content: center;
}
.portfolio-card-item {
  width: calc((100 - 48px)) / 3;
  transition: box-shadow var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}
.portfolio-card-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.portfolio-card-content {
  padding: 32px 16px;
  background: var(--second-text-color);
  border-bottom: 1px solid var(--border-color-img-portfolio);
  border-right: 1px solid var(--border-color-img-portfolio);
  border-left: 1px solid var(--border-color-img-portfolio);
}
.portfolio-card-description {
  margin-top: 8px;
}
.portfolio-card-thumb {
  position: relative;
  overflow: hidden;
}
.portfolio-card-overlay {
  position: absolute;
  background-color: var(--third-background-color);
  overflow: auto;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #F4F4FD;
  padding: 40px 32px;
  transform: translate(0, 100%);
  transition: transform var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}
.portfolio-link:is(:hover, :focus) .portfolio-card-overlay {
  transform: translate(0, 0)
}
/* ========================== FOOTER =============================*/
.footer-section{
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--first-background-color);
}
.footer-container{
  display: flex;
  flex-wrap: wrap;
}
.footer-container-logo {
  max-width: 264px;
  margin-right: 120px;
}
.footer-logo,
.footer-logo span {
  text-decoration: none;
  font-family: var(--secondary-found);
  font-size: 18px;
  line-height: 1.67;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--fifth-text-color);
  padding: 0;
  width: 115px;
  height: 22px;
}
.footer-logo span {
  color: var(--fourth-text-color);
}
.footer-description {
  margin-top: 16px;
  flex-direction: column;
  flex-direction: row-reverse;
  color: var(--sixth-text-color);
}
/* ---------------------- social icons ----------------------- */
.footer-social {
  min-width: 80px;
  margin-right: 80px;
}
.footer-subtitle,
.footer-social-titel {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}
.footer-social-list {
  display: flex;
  margin-top: 16px;
  gap: 16px;
}
.footer-social-item {
  height: 40px;
  width: 40px;
}
.footer-social-link {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}
.footer-icon {
  width: 24px;
  height: 24px;
}
.footer-social-link:is(:hover, :focus) {
  background-color: #31D0AA;
}
/* -------------------------- form subscribe ------------------------ */
.footer-subscribe {
display: flex;
}
.footer-label-input{
  outline: none;
  margin-top: 16px;
  padding: 8px 16px;
  border: 1px solid #FFFFFF;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: inherit;
  width: 264px;
  height: 40px;
  color: var(--second-text-color);
}
.footer-label-input::placeholder{
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--second-text-color);
}
.footer-subscribe-btn {
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background-color: var(--third-background-color);
  border-radius: 4px;
  border: none;
  color: var(--second-text-color);
  margin: 0;
}
.footer-subscribe-icon {
  fill: var(--fourth-background-color);
}
.footer-btn-text {
  margin-right: 16px;
}
.footer-label {
  display: flex;
  margin-right: 24px;
  flex-direction: column;
}
.footer-wrapper-btn {
  padding-top: 40px;
  margin: 0;
}